.main {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

.themeIconContainer {
    position: relative;
    width: 2rem;
    display: flex;
    align-items: center;
}

.themeIcon {
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
}

.hideIcon {
    opacity: 0;
    transition: opacity 1s ease-out;
    /* transition-delay: 1s; */
}

.showIcon {
    opacity: 1;
    transition: opacity 1s ease-in;
    /* transition-delay: 1s; */
}