.main {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    width: 100vw;
}

.navbar {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    background-color: var(--mainBgColor);
    transition: background-color 1s;
}

.themeIconContainer {
    position: relative;
    width: 2rem;
    display: flex;
    align-items: center;
}

.themeIcon {
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
}

.hideIcon {
    opacity: 0;
    transition: opacity 1s ease-out;
    /* transition-delay: 1s; */
}

.showIcon {
    opacity: 1;
    transition: opacity 1s ease-in;
    /* transition-delay: 1s; */
}

.detailsSection {
    margin-top: 4rem;
    width: 100vw;
}

.sectionContainer {
    padding: 1rem 0;
}

.detailsHeading {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--mainBorderColor);
}

.totalExperience {
    color: var(--mainLinkColor);
    margin-bottom: 0.5rem;
}

.introSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 600px) {
    .introSectionContainer {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

.introSectionImage {
    width: 9.5rem;
    height: 9.5rem;
}

.introSectionImage img {
    border-radius: 50%;
}

.introSectionText>div:first-child {
    font-size: 3rem;
    line-height: 1em;
}

.introSectionEmail {
    margin: 1rem 0;
}

.introSectionText>p {
    margin: 1rem 0;
}

.socialLinksSectionContainer,
.techStackDetails {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

@media (max-width: 500px) {

    .socialLinksSectionContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

.aboutMeDetails {
    text-align: justify;
}

.techStackDetails {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: stretch;
}

@media (min-width: 450px) {

    .techStackDetails {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 576px) {

    .techStackDetails {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {

    .techStackDetails {
        grid-template-columns: repeat(4, 1fr);
    }
}

.techStackItem {
    min-width: 120px;
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.workHistory {
    margin: 1rem;
    /* padding: 0 1rem; */
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--mainBorderColor);
}

.workHistory:last-child {
    border-bottom: none;
}

.place {
    margin-top: 0;
}